A {TEXT-DECORATION: none}
A:hover {TEXT-DECORATION: none}
::-webkit-scrollbar{width: 0px; height: 0px }
* {margin: 0; padding: 0; box-sizing: border-box;}
body {opacity:0; opacity:1; height:100%; background: #264264; cursor: default; margin: 0 }
.contexto {text-align: center; width: 24.4%; height: 32%; border-style: solid; border-width: 0px; padding: 0.2em; margin: 0em 0em; border-radius: 0.2em; box-shadow: #4F4F4F 0.0em 0.0em 0.1em; display: inline-block; overflow: hidden; position: relative; cursor: hand;}
@media screen and (max-width:480px) {.contexto {width: 49.3%; height: 18%;}}
.painel {-ms-zoom: 0.25; -moz-transform: scale(0.25); -moz-transform-origin: 0 0; -o-transform: scale(0.25); -o-transform-origin: 0 0; -webkit-transform: scale(0.25); -webkit-transform-origin: 0 0;}
.painel {width: 200%; height: 200%;}
.tela {width: 200%; height: 165%;}
.titulo {color: #F5F5F5; width: 200%; height: 35%; margin-top: 10; font-family: Arial; font-size: 400%}
.painel:after {content: ""; display: block; position: absolute; width: 200%; height: 200%; top: 0; left: 0; right: 0; bottom: 0;}
